* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;
}

.title {
  font-size: 10rem;
  font-weight: 800;
}

.subtitle {
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 30px;
}

.btn {
  width: 300px;
  height: 100px;
  border-radius: 100px;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 0 10px 2px #000000;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(56, 24, 199);
}

@media (max-width: 320px) {
  .btn {
    width: 250px;
  }
}



.margin {
  margin-right: 10px;
}

.img {
  margin-bottom: 10px;
}

.img, svg {
  height: 25px;
  width: 30px;
}