* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

.mainContainer {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.subContainer {
  width: 90%;
  display: flex;
  margin-top: 20px;
}

.filters {
  width: 25vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 20px;
}

.filter-title {
  margin-top: 20px;
  height: 3rem;
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.select {
  height: 50px;
  width: 100%;
  border: solid black 1px;
  border-radius: 5px;
  appearance: none;
  text-align: center;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  width: 100%;
}

.btn:hover {
  background-color: rgb(56, 24, 199);
}

.products {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  cursor: pointer;
  padding: 10px;
  height: auto;
  max-height: 330px;
}

.product:hover {
  box-shadow: 0 0 16px 6px #000000;
  background-color: rgb(185 185 180);
}

.product-image {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-name {
  font-size: 1.3rem;
  text-align: center;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-text {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
  }

  .product {
    width: 100%;
  }

  .filters {
    width: 50vw;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .subContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
