/*titolo catalogo*/
#title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

/*container generale*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*t-shirt*/
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 30vw;
  height: 30vw;
  cursor: pointer;
}

.category img {
  width: 20vw;
  height: 20vw;
}

@media screen and (max-width: 750px) {
  .categories {

    flex-direction: column;
  }
  
  .category {
    width: 50vw;
    height: 50vw;
    margin-bottom: 40px;

  }

  .category img {
    width: 30vw;
    height: 30vw;
  }


}


@media screen and (max-width: 450px) {

  .category {
    width: 70vw;
    height: 70vw;
    margin-bottom: 60px;

  }

  .category img {
    width: 50vw;
    height: 50vw;
}


}


@media screen and (max-width: 350px) {

  .category img {
    width: 40vw;
    height: 40vw;
}


}

