* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  /*outline: 1px solid orange;*/
}

/*contatti */

body {
  background-color: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.mainContainer {
  position: relative;
  height: 85vh;
}

.titleContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  width: 50%;
  top: 20%;
}

h2 {
  width: 100%;
}

p {
  width: 100%;
}

.socialContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  top: 60%;
  width: 50%;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.social-icon {
  font-size: 300%;
  cursor: pointer;
}

.formContainer {
  position: absolute;
  background-color: whitesmoke;
  padding: 1.5rem;
  color: black;
  width: 40%;
  border-radius: 0.5em;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.6em;
}

input {
  border: none;
  border-radius: 0.5em;
  background-color: #daddda;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1rem;
}

.req {
  color: red;
}

#messaggio {
  background-color: #daddda;
  border: none;
  border-radius: 0.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bottoneInvio {
  background-color: red;
  height: 1.875em;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-top: 0.5em;
}

.bottoneInvio:hover {
  opacity: 0.8;
}

.bottoneInvio:active {
  opacity: 0.5;
}

.thanksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tanksText {
  margin-top: 150px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  background-color: white;
  height: 100px;
  color: black;
}

.tanksSocialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
}

.tanksSocial-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 2em;
}

@media (max-width: 1000px) {
  .mainContainer {
    position: relative;
    height: 100vh;
  }

  body {
    font-size: 18px;
  }

  .titleContainer {
    width: 500px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .socialContainer {
    width: 500px;
    top: 91%;
    left: 50%;
    transform: translateX(-50%);
  }

  .formContainer {
    width: 25em;
    top: 17%;
    transform: translateX(-50%);
  }

  .socialImages {
    min-height: 15%;
    max-width: 15%;
  }

  .tanksText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
}

@media (max-width: 580px) {
  .titleContainer {
    width: 400px;
  }

  .socialContainer {
    width: 300px;
    top: 93%;
  }

  .formContainer {
    top: 20%;
    width: 300px;
  }

  .socialImages {
    min-height: 20%;
    max-width: 20%;
  }

  .tanksText {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .titleContainer {
    width: 300px;
  }

  .socialContainer {
    width: 300px;
    top: 95%;
  }

  .formContainer {
    width: 250px;
  }

  .tanksText {
    width: 9em;
  }
}

@media (min-width: 1001px) {
  body {
    font-size: 20px;
  }
  .formContainer {
    width: 30%;
    left: 55%;
  }

  .socialImages {
    min-height: 10%;
    max-width: 10%;
  }
  .tanksText {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .tanksText {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}