* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    /*outline: 1px solid orange;*/
  }
  
  body {
    background-color: black;
    color: white;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .sectionText {
    display: flex;
    flex-direction: column;
  }
  
  .sectionTitle {
    font-size: 2rem;
  }
  
  .subText {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .size {
    display: flex;
  }
  
  .sizeText {
    outline: 1px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border: 0;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  @media (max-width: 700px) {
    .sizeText {
      font-size: 0.7rem;
      min-width: 25%;
    }
  
    .subContainer {
      width: auto;
    }
  }
  
  @media (max-width: 520px) {
    .sectionTitle {
      font-size: 1.5rem;
    }
  
    .subText {
      font-size: 1rem;
    }
  
    .table {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 300px;
    }
  
    .size {
      flex-direction: column;
    }
  
    .sizeText {
      width: 100px;
    }
  }
  
  @media (max-width: 340px) {
    .sizeText {
      width: 75px;
    }
  
    .table {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 225px;
    }
  }
  