
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

/* HEADER */

.header {
  font-family: "arial";
  position: relative;
  text-align: center;
  background-image: url("../img/header-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  width: 100%;
  color: rgb(255, 255, 255);
}

.header .title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-weight: bold;
  width: 80%;
}
.header .subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}
.header .btn {
  height: 50px;
  width: 200px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.header .btn:hover {
  background-color: rgb(56, 24, 199);
}

@media (max-width: 800px) {
  .header .btn {
    top:70%;
  }

  .header .title {
    font-size: 3rem;
    top: 20%;
  }

  .header .subtitle{
    width: 80%;
  }
}

@media (max-width: 600px) {
  .header .title {
    font-size: 2.8rem;
    font-weight: bold;
    width: 100%;
    top: 20%;
  }
  .header .subtitle {
    font-size: 1.5rem;
    top:40%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .header .title {
    font-size: 2rem;
  }
}

/* MAIN */

.main {
  height: auto;
  font-family: "arial";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.main .main-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 75%;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.main .main-section:hover {
  background-color: rgb(56, 24, 199);
}

.main .main-section .title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.main .main-section img {
  width: 425px;
}

@media (max-width: 1400px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .main .main-section {
    border-radius: 10px;
    justify-self: center;
    width: 400px;
    height: 100%;
  }
  .main .main-section img {
    width: 250px;
  }

}
  @media (max-width: 880px) {
    .main {
      grid-template-columns: 1fr;
    }
    .main .main-section {
      border-radius: 10px;
      justify-self: center;
      height: 100%;
    }
  }
  
  @media (max-width: 410px) {
    .main .main-section {
      border-radius: 10px;
      justify-self: center;
      width: 300px;
      height: 100%;
    }

  }
/* FOOTER */

.footer {
  height: auto;
  font-family: "arial";
  background-color: rgb(0, 0, 0);
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-top: 100px;
}

.footer .container .footer-section {
  border: solid rgb(255, 255, 255) 2px;
  width: 280px;
  height: 310px;
  background-color: rgb(91, 91, 91);
  color: rgb(255, 255, 255);
  justify-self: center;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .container .footer-section .content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
    align-items: center;
    justify-content: center;
}

.content {
  display: flex;
  align-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.footer .container .footer-section img {
  width: 30px;
  margin-top: 10px;
}

.footer .container .footer-section .title {
  font-size: 1.8rem;
  border: solid rgb(255, 255, 255) 2px;
  width: 100%;
}

.footer .container .footer-section .content .text {
  font-size: 1rem;
  margin: 10px;
}

.copyright {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}


.copyright .text {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin: 10px;
  text-align: center;
}

.text-order {
  display: flex;
  align-items: flex-end;
}


/*img-svg footer*/


.margin {
  margin-right: 10px;
}

.img {
  margin-bottom: 10px;
}

.img, svg {
  height: 25px;
  width: 30px;
}


/*media query footer*/
@media (max-width: 1250px) {
  .footer .container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 650px) {
  .footer .container {
    grid-template-columns: 1fr;
  }
}
