@import url("https://fonts.googleapis.com/css?family=Noto+Serif+Japanese");

nav {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
    font-family: "arial";
    margin-right: 20px;
    font-family: "arial";
    z-index: -1;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
    background-color: rgb(56, 24, 199);
  }
  nav .mainMenu img:hover {
    cursor: pointer;
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  nav .logo {
    margin: 6px;
    font-family: "Noto Japanese", serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }
  .fa-shirt {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2rem;
  }
  .logo img {
    width: 50px;
    margin: 10px;
  }
  .nav-img {
    width: 30px;
    padding: 0 auto;
  }
  
  @media (max-width: 800px) {
    nav .logo {
      font-size: 1.3rem;
    }
    nav .mainMenu {
      height: 100vh;
      margin-right: 0;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(255, 255, 255);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      background-color: rgb(56, 24, 199);
    }
  
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }