* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

.mainContainer {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 45px;
}

.subContainer {
  width: 90%;
  display: flex;
  margin-top: 20px
}

.filters {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.filter-title {
  margin-top: 20px;
  height: 3rem;
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  font-size: 1.5rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  cursor: pointer;
}


.filter:hover {
  background-color: rgb(56, 24, 199);
  color: rgb(255, 255, 255);
}


.products {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-name {
  margin-top: 20px;
}

.price {
  margin-bottom: 20px;
}