*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    place-items: center;
    background-color: rgb(255, 255, 255);
}

/* HEADER */

.header {
    font-family: "arial";
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
    width: 100%;
    color: rgb(255, 255, 255);
}

.header .title {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    font-weight: bold;
    width: max-content;
}

.header .subtitle {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    width: max-content;
}

.header .btn {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.header .title,
.header .subtitle,
.header .btn {
    position: absolute;
    z-index: 999;
    padding: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.header .btn:hover {
    background-color: rgb(56, 24, 199);
}

.header #title1 {
    width: 80%;
}

.header #title3 {
    width: 80%;
}


@media screen and (max-width: 1280px) {
    .header #title1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1140px) {
    .header #title1 {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 1030px) {
    .header #title1 {
        font-size: 2.9rem;
    }
}

@media screen and (max-width: 1030px) {
    .header #title1 {
        font-size: 2.8rem;
    }

    .header #title3 {
        font-size: 3.3rem;
    }
}

@media screen and (max-width: 950px) {
    .header #title1 {
        font-size: 2.7rem;
    }

    .header #title2 {
        font-size: 3.3rem;
    }
    .header #title2 {
        font-size: 3.3rem;
    }
}

@media screen and (max-width: 950px) {
    .header #title1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .header #title1 {
        font-size: 2.3rem;
    }

    .header #subtitle1 {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 765px) {
    .header #title1 {
        font-size: 2.1rem;
    }

    .header .btn {
        height: 40px;
        width: 160px;
        border-radius: 30px;
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 730px) {
    .header #subtitle2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 670px) {
    .header #title1 {
        font-size: 1.9rem;
    }

    .header #title2 {
        font-size: 3.1rem;
    }

    .header #title3 {
        font-size: 2.9rem;
    }

    .header #subtitle1 {
        font-size: 1.5rem;
    }

    .header #subtitle3 {
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 630px) {
    .header #title1 {
        font-size: 1.75rem;
    }
}


@media screen and (max-width: 580px) {
    .header #title1 {
        font-size: 1.6rem;
    }

    .header #title2 {
        font-size: 2.7rem;
    }

    .header #title3 {
        font-size: 2.5rem;
    }

    .header #subtitle1 {
        font-size: 1.4rem;
    }

    .header #subtitle2 {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 520px) {
    .header #title1 {
        font-size: 1.45rem;
    }
}


@media screen and (max-width: 470px) {
    .header #subtitle2 {
        font-size: 1.2rem;
    }

    .header .btn {
        height: 40px;
        width: 150px;
        border-radius: 35px;
    }
}

@media screen and (max-width: 470px) {
    .header #title1 {
        font-size: 1.35rem;
    }

    .header #title3 {
        font-size: 2.2rem;
    }

    .header #subtitle1 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 440px) {
    .header #subtitle2 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .header #title2 {
        font-size: 2rem;
    }

    .header #title3 {
        font-size: 2rem;
    }
    
}

/* Style swiper */
.swiper {

    height: 100vh;
}

.swiper-slide {
    background-color: #000;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper button {
    width: 50px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    transition: opacity 0.25s;
}


.swiper button:hover {
    opacity: 0.8;
}

.swiper button::before,
.swiper button::after {
    font-size: 24px;
}

.swiper-button-prev {
    left: 25px;
}

.swiper-button-next {
    right: 25px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

/* MAIN */

.main {
    height: auto;
    font-family: "arial";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    top: 250px;
    position: relative;
}

.main .main-section {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 75%;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.main .main-section:hover {
    background-color: rgb(56, 24, 199);
}

.main .main-section .title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.main .main-section img {
    width: 460px;
    height: 480px;
}

@media (max-width: 1475px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .main .main-section {
        border-radius: 10px;
        justify-self: center;
        width: 400px;
        height: auto;
    }

    .main .main-section img {
        width: 100%;
    }
}

@media (max-width: 880px) {
    .main {
        grid-template-columns: 1fr;
    }

    .main .main-section {
        border-radius: 10px;
        justify-self: center;
    }
}

@media (max-width: 410px) {
    .main .main-section {
        border-radius: 10px;
        justify-self: center;
        width: 300px;
    }
}